html {
    height: 100%;
}

h1, h2, h3, h4, h5, p, span, a, li {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0 auto;
    padding: 0px;
    width: 90%;
    max-width: 1400px;
    padding-bottom: 60px;
}

p {
    font-size: 18px;
}

#sidebar {
    display: block;
    float: left;
    width: 20%;
}

#sidebar ul {
    margin-top:  15px;
}

#sidebar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#sidebar ul li a:hover {
    color: brown;
    transition: 0.2s;
}

#main {
    display: block;
    float: left;
    padding-left: 2%;
    border-left: 2px solid green;
    min-height: 100vh;
    width: 50%;
}

#main h1 {
    margin-block-start: 15px;
}

p.quote {
    font-style: italic;
    font-size: 20px;
    background-color: #EED5C2;
}

div.options {
    margin-top: 15px;
}

button.author {
    display: block;
    background-color: #3F84E5;
    color: white;
    padding: 15px;
    width: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}

button.author:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}

button:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.win button {
    background-color: #98CE00;
    opacity: 1;
}

div.lose button {
    background-color: #D1495B;
    opacity: 1;
}

div.option {
    display: inline-block;
    margin-right: 10px;
}

div.option span {
    display: inline;
}

.submission {
    margin-bottom: 50px;
}

.submission .title h2 {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}

.submission .title span {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

.submission video, img {
    max-height: 70vh;
    max-width: 100%;
}

.contacts p {
    display: table-row;
    text-align: right;
}

.contacts p * {
    display: table-cell;
    text-align: left;
    padding-left: 5px;
}

.multiselect {
  width: 200px;
  display: inline-block;
  margin-left: 15px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.reddit-feed-settings select {
  vertical-align: top;
  margin-bottom: 15px;
}

.comments {
    margin-top: 15px;
}

.comment {
    z-index: 2;
}

.comment .author {
    font-size: 12px;
    font-weight: 500;
}


.comment .body p {
    margin: 0px;   
    font-size: 16px;
    width: 90%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.comment .body span {
    margin: 0px;   
    font-size: 14px;
    width: 10%;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.reply {
    padding-left: 10%;
    z-index: 3;
}

table.listing {
    text-align: left;
}

table.listing td {
    min-width: 120px;
    padding: 5px 0px;
    /*padding-right: 20px;*/
}

table.listing td.win {
    color: green;
}

table.listing td.lose {
    color: red;
}

form#quote_form label {
    display: block;
    width: 75px;
    margin-bottom: 10px;
}

/*#quote_form input {*/
    /*max-width: ;*/
/*}*/