{% extends "base.html" %}

{% block main %}
    <h1>I. Hate. Crypto.</h1>
    <p>All this crypto sh*t is soooo overhyped. People are losing their minds (and lifetime savings) and invest into assets that have absolutely no value.</p>
    <p>My hatred for crypto gave me this idea to create cryptocurrency listing, but with colors inverted. Basically, if cryptocurrency loses value - I'm happy. If it instead rises in price - I'm sad.</p>

    <div id="i_hate_crypto"></div>

    <script src="{{ url_for('static', path='/components/i_hate_crypto.js') }}" type="text/babel"></script>
{% endblock %}